.myform{
    width:370px;
    
}
.myform label{
    width:110px;
    color:gray;
    float:left;
    text-align:left;
    margin-left:0px;
}

.myform input{
    margin-left:5px;
    width:220px;
    float:left;
}
.myform p{
    display:inline-table;
    margin-bottom:0px;
    width:100%;
}
.myform .bt{
    width:auto;
    float:right;
    margin-right:7px;
}
.myform textarea{
    margin-left:10px;
    float:left;
}
/*khung hien thi mesage process*/
.messageItem{
    width:500px;
    min-height:100px;
    height:auto;
    border:1px dashed gray;
    padding:5px;
    margin-bottom:10px;
    padding-bottom:10px;
    color:#575950;
    background-color:#D0DFD7;
}
.messageItem .line{
    width:100%;
    height:auto;
    padding-top:2px;
    padding-bottom:2px;
    padding-left:5px;
    margin-bottom:2px;
    margin-top:2px;
    display:inline-table;
}
.messageItem .mess{
   font-style:italic;
   color:#15546A;
   font-size:12pt;
   border:1px solid #C5C5C5;
   padding:5px;
   width:90%;
   margin-left:20px;
   background-color:#F2FAFD;
   min-height:100px;
   
}
.messageItem .both{
    font-weight:bold;
    color:#1A2732;
}
.messageItem .waitImg{
    width:20px;
    height:20px;
    border:0px;
    margin:0px;
    padding:0px;
    margin-left:30px;
}
.messageItem table{
    margin-left:20px;
    border-color:gray;
}
.messageItem table thead{
    background-image:none;
    background-color:#9B9B9B;
}
.messageItem table thead td{
    padding-left:5px;
    padding-right:5px;
    border-color:gray;
}
.messageItem table tbody td{
   border-color:gray;
   background-color:white;
}
.messageItem table tbody tr{
   border-color:gray;
}
/*css hien thi mess trong qua ly mess den cac station*/

.messMain{
    width:500px;
    height:auto;
    border:1px solid gray;
    padding:5px;
}
.messMain .item{
    width:100%;
    min-height:200px;
    margin-bottom:10px;
    display:inline-block;
    padding-bottom:5px;

}
.messMain .item .line{
    width:100%;
    min-height:10px;
    display:inline-block;
}
.messMain .item .mess{
    font-style:italic;
    color:gray;
}

.messMain .textarea{
    width:420px;
    min-height:100px;
    border:1px dotted olive;
    color: #091116;
    font-style: italic;
    text-align: left;
    border: solid 1px #9DC4D7;
  margin: 10px 10px 10px 20px;
  padding: 5px 5px 5px 41px;
  background-color: #CCE0EA;
  background-image: url('images/1284739801_email.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;

}
.messMain .bt{
    float:right;
}

